[submodule "pico-sdk"]
	path = octopus/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "pico-examples"]
	path = octopus/pico-examples
	url = https://github.com/raspberrypi/pico-examples.git
[submodule "pimoroni-pico"]
	path = octopus/pimoroni-pico
	url = https://github.com/pimoroni/pimoroni-pico.git
